.umap {
  &.dot {
    fill: dimgray;
    stroke-width: 0;
  }

  &.progress.epoch {
    margin-left: 25px;
    margin-right: 25px;
    width: -moz-available;
    width: -webkit-fill-available;
  }

  &.settings {
    &.container {
      align-items: center;
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 15px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, auto);
      margin: 36px 24px 24px;
      width: inherit;
    }

    &.icon {
      opacity: 0.5;
      transition: opacity 0.5s;

      &:hover {
        opacity: 1;
      }
    }

    &.header {
      grid-column: 1;
    }

    &.min-dist {
      grid-row: 1;
    }

    &.n-neighbors {
      grid-row: 2;
    }

    &.number {
      grid-column: 11;
    }

    &.run {
      display: grid;
      grid-column: 12;
      grid-row-end: 3;
      grid-row-start: 1;
      justify-content: end;
    }

    &.slider {
      grid-column: 2 / 11;
    }
  }
}
